<a href="https://colab.research.google.com/github/paladugulashruthi/assignment-1/blob/master/python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Develop a code for below scenario

In [ ]:
year=int(input("Enter the year:"))
val=year%12
if val==0:
    print("monkey")
elif val==1:
    print("rooster")
elif val==2:
    print("dog")
elif val==3:
    print("pig")
elif val==4:
    print("rat")
elif val==5:
    print("ox")
elif val==6:
    print("tiger")
elif val==7:
    print("rabbit")
elif val==8:
    print("dragon")
elif val==9:
    print("snake")
elif val==10:
    print("horse")
else:
        print("sheep")

Enter the year:2018
dog

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [ ]:
dist=int(input("enter distance:"))
wt=int(input("enter weight:"))
if dist>=500:
    if wt>=100:
        cost=5*dist
    elif wt>=10 and wt<100:
        cost=6*dist
    else:
        cost=7*dist
else:
    if wt>=100:
        cost=8*dist
    else:
        cost=5*dist
print("Amount to be charged:",cost)

enter distance:520
enter weight:50
Amount to be charged: 3120

3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
type=["stalls","circles","upperclass"]
payment=["cash","card"]
seat=input("Enter the type of seat: ")
pmode=input("Enter the type of payment mode: ")
if seat in type[0]:
    if pmode in payment[0]:
        discnt = 625*10/100
        cost=625-discnt
    elif pmode in payment[1]:
        discnt=625*5/ 100
        cost=625-discnt
elif seat in type[1]:
    if pmode in payment[0]:
        discnt=750*10/ 100
        cost=750-discnt
    elif pmode in payment[1]:
        discnt=750*5/ 100
        cost=750-discnt
else:
    if seat in type[2]:
        if pmode in payment[2]:
            discnt=850*10/ 100
            cost=850-discnt
    elif pmode in payment[1]:
        discnt=850*5/ 100
        cost=850-discnt
    else:
        print("error while choosing payment mode")
print("cost of ticket:",cost)

Enter the type of seat: circle
Enter the type of payment mode: cash
cost of ticket: 675.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
m=int(input("enter weight of water in kg: "))
itemp=int(input("enter initial temperature of water in celcius: "))
ftemp=int(input("enter final temperature of water in celcius: "))
energy=m*(ftemp-itemp)*4184
print("the energy in joules: ",energy)

enter weight of water in kg: 2000
enter initial temperature of water in celcius: 20
enter final temperature of water in celcius: 80
the energy in joules:  502080000

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
winter=["december","january","february"]
spring=["march","april","may"]
summer=["june","july","august"]
autumn=["september","october","november"]
month=input("enter a month:")
if month in winter:
    print("it is a winter season")
elif month in spring:
    print("it is a spring season")
elif month in summer:
    print("it is a summer season")
else:
    print("it is an autumn season")

enter a month:march
it is a spring season

6.	Body Mass Index

In [ ]:
age=int(input("Enter your age:"))
if age>20:
    wt=float(input("Enter your weight in pounds:"))
    ht=float(input("Enter your height in inches:"))
    w=(wt*0.45359237)
    print("w",w)
    h=(ht*0.0254)
    print("h",h)
    bmi=w/(h*h)
print("bmi:", bmi)
if bmi<18.5:
  print("underweight")
elif bmi>=18.5 and bmi<25.0:
  print("normal")
elif bmi>=25.0 and bmi>30.0:
    print("overweight")
elif bmi>30.0:
    print("obese")

Enter your age:21
Enter your weight in pounds:45
Enter your height in inches:300
w 20.41165665
h 7.62
bmi: 0.35153478981957964
underweight

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [ ]:
num = int(input("Enter a number between 100 and 1000 "))
rem=0
sumdigit=0
if(num>=100 and num<=1000):
    while num>0:
        rem=num%10
        sumdigit=sumdigit+rem
        num=num//10
print(sumdigit)

Enter a number between 100 and 1000 230
5

8.	Print all palindrome numbers between 1 to 1000.

In [ ]:
rem=0
for i in range(1,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if i==rev:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

9.	Print all Armstrong numbers between 1 to 1000.

In [ ]:
rem=0
for i in range(1,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev+rem**3
        n=n//10
    if i==rev:
        print(i)

1
153
370
371
407

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [14]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print("fizzbuzz")
    elif i%5==0:
        print("buzz")
    elif 
        print("fizz buzz")

fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizz
buzz
fizz
fizz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [ ]:
h=int(input("enter height of the well :: "))
u=int(input("enter the meters spider climb up for each step :: "))
d=int(input("enter the meters the spider slips down for each step :: "))
sp=0
t=0
while t<=h:
    t=t+u
    if(t<=h):
        t=t-d
    sp=sp+1
print(sp)

enter height of the well :: 200
enter the meters spider climb up for each step :: 50
enter the meters the spider slips down for each step :: 1
5